.container {
  width: 10%;
  margin: 0 auto;
  border: 3px dotted white;
}
html{
  background-color: #ccc;
}
.container > div {
  height: 50px;
  width: 50px;
  background-color: gray;
  margin: 10px 50px;
}
.container:hover > div:nth-child(odd) {
  transform: scale(2) translateX(200px) rotate(1200deg);
  background-color: red;
  transition-duration: 5s;
}
.container:hover > div:nth-child(even){
  transform: scale(.5) translate(-200px) rotate(-1200deg);
  background-color: black;
  transition-duration: 5s;
}
