.container {
  display: grid;
  /* grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  ". div ."; */
  background-color: blue;
}
div {
  display: subgrid;
  /* grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 3fr 3fr 1fr;
  grid-template-areas:

  ". fakeImage ."
  ". paragraph ."
  "redDot three redBox"; */

  grid-gap: 2em;
  align-items: center;
  align-self: center;
  width: 80%;
  margin: auto;
  padding: 20px;
}
header {
  display: flex;
  font-size: 90px;
  font-family: arial, sans-serif;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}
.fakeImage {
  grid-area: fakeImage;
  background-color: purple;
  margin: auto;
  width: 80%;
}
p {
  grid-area: paragraph;
  grid-template-columns: <track-size> 80%;
}
.redDot {
  grid-area: redDot;
  background-color: red;
  border: 3px solid black;
  height: 15px;
  width: 15px;
  border-radius: 30px;
}
h2 {
  grid-area: three;
  font-size: 22px;
}
.redBox {
  grid-area: redBox;
  width: 50px;
  height: 15px;
  background-color: red;
  border: 2px solid black;

}
