.post:nth-child(odd) {
  background: #ddd;
}
.post:nth-child(even) {
  background: #ccc;
}
/* .fakeImage {
  height: 300px;
  width: 80%;
  background-color: purple;
  margin: auto; */
}
.redDot {
  border: 3px solid black;
  border-radius: 25px;
  height: 15px;
  width: 15px;
  background-color: red;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  grid-area: three;
}
.redBox {
  height: 50px;
  width: 20%;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  grid-area: redBox;
  }
@media(max-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, .5fr 3fr .5fr);
    grid-template-rows: repeat(11, auto);
    grid-gap: 2em;
  }
  h1{
    grid-column: 2/3;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
  }

  .post {
    display: subgrid;
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-template-columns: .5fr 3fr .5fr; */
    grid-template-columns: .5fr .5fr 2fr 2fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-gap: 1em;
  }
      .fakeImage {
        grid-row: 2/3;
        grid-column: 3/5;
      }
      p {
        grid-row: 2/3;
        grid-column: 3/5;
      }
      .redDot {
        grid-row:
      }
      h2{
        grid-row:
      }
      .redBox{
        grid-row:
      }
  }
